@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf');
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu/Ubuntu-Regular.ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Ubuntu-m';
  src: url('../fonts/Ubuntu/Ubuntu-Medium.ttf');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Ubuntu-b';
  src: url('../fonts/Ubuntu/Ubuntu-Bold.ttf');
  font-style: normal;
  font-weight: 700;
}