$black: #000000;
$white: #ffffff;

$blue: #4E6BAD;
$light-blue: #DEE8FF;
$bright-blue: #0752FF;
$dark-blue: #001B5B;
$socials: #2E58A5;
$red: #FF0000;

$dark-red: #E30613;
$purple: #9C10E2;

$heading: #011645;
$text: #041741;
$dark-green: #505D68;

$gray: #F8F9FA;
$light-gray: #ACABAB